<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bluemind.core.sanitycheckerfactory">
      <sanity_checker_factory
            implementation="net.bluemind.hello.logincheck.HelloCheckerFactory">
      </sanity_checker_factory>
   </extension>
</plugin>
